
body, html {
  height:auto !important;
  position: initial !important;
}
html { overflow-y: scroll; }
body {
  background-image: url('/assets/cuttingBoard.jpg');
  background-color: #f0f0f0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  line-height: 1;
}

.lgContent {
  margin:auto;
  max-width: 960px;
  background: #eee;
  padding-bottom: 40px;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h1:before {
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: white;
  vertical-align:bottom;
}

.logo {
  width: 56px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: white;
  vertical-align:bottom;
}

.lgReview li, p{
  color: white;
}

.marquee {
  max-width: 100%;
  height: auto;
}

.rotatingLogo {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 222px;
    margin: -60px 0 0 -85px;
    -webkit-animation:spin 1s ease-out;
    -moz-animation:spin 1s ease-out;
    animation:spin 1s ease-out;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

h2:before,
h2:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h2:before {
  left: -.5em;
  margin: 0 0 0 -50%;
}
h2:after {
  left: .5em;
  margin: 0 -50% 0 0;
}
h2 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}


#username {
  padding-left: 20px;
  text-align: left;
  color: black;
  display: inline-block;
}

#userphoto {
  padding-left: 20px;
}

#restaurantCount {
  padding-left: 20px;
  display: inline;
  color: black;
}

#container {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}

#content {
  background-color: #3f51b5;
  display: block;
  width: 100%;
  margin: 0 auto;
    /*background: #fff;*/
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
  box-shadow: 0px 0px 15px rgba(0,0,0,.8);
  z-index: 100;
}



#recommendation {
  margin: 0 auto;
  display: inline;
  font-weight: bold;
  font-size: 18px;
}

.themer {
  background-color: #3f51b5;
  height: 80px;
}

.ngdialog.dialogwidth800 .ngdialog-content{width : 800px;}
/*bootstrap search*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

.lgSearch {
  margin-bottom: -15px !important;
}

.lgRevCont {

  padding-top: 38px;
}

.lgName {
  background-color: #3f51b5;
  padding-left: 10px;
  width: 100%;
}

.lgName h2{
  color: white;
}

.lgImg {
  height: 350px;
  text-align: center;
  padding-bottom: 50px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#revPhoto {
  vertical-align: middle;
    max-height: 350px;
    max-width: 100%;
}

.lgMap {
  height:100%;
  background-color: white;
}

.angular-google-map-container {
  height: 190px;
  width: 100%;
}
.lgAdd {
  background: white;
  padding: 10px 10px 10px 0;

}
.lgAdd p{
  color: black;
}



.lgRating {
  text-align: left;
}
.lgRating li {
  list-style-type: none;
  font-size: 1.1em;
}
.lgRev {
  padding: 10px;
  background-color:white;
}
.lgRev p{
  color: black !important;

}
.gridList md-icon {
  width: 50%;
  height: 30%; }

.gridList md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.gridList .s64 {
  font-size: 64px; }

.gridList .s32 {
  font-size: 48px; }

.gridList md-icon.fa {
  display: block;
  padding-left: 0; }

.gridList md-icon.s32 span {
  padding-left: 8px; }

.gridList md-grid-list {
  margin: 8px; }

.gridList .white {
  background: #FFF; }

.gridList md-grid-tile {
  transition: all 300ms ease-out 50ms; }

.gridList md-grid-tile md-icon {
  padding-bottom: 32px; }

.gridList md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }

.gridList md-grid-tile-footer figcaption {
  width: 100%; }

.gridList md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }

.result-list {
  min-height: 30px !important;
}
.result-list:hover {
  background-color: gray;
}
.lgClose {
  float:right;
  padding: 8px;
}

.fb-share {
  vertical-align: top;
  display: inline-block;
  height: 18px;
  padding: 0 4px;
  border: 1px solid #cad4e7;
  border-radius: 3px;
  background: #eceef5;
  color: #3b5998;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  /* IE7 */
  *display: inline;
  *zoom: 1;
}
.fb-share:hover {
  border-color: #9dacce;
}
.fb-share-icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 1px;
  background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/tbhIfdAHjXE.png);
  /* IE7 */
  *display: inline;
  *zoom: 1;
}
