<div class="home">
  <div layout="column">
    <div>
      <img class=marquee src="http://www.st-barths.com/eden-rock/uploads/images/Gallery/restaurant/Restaurant-(3).jpg" alt="">
      <img class= "rotatingLogo" src="/views/components/toolbar/SAVOR4XWHITEXBLACK2.png">
    </div>
    <section class="col-md-4" layout="row" layout-sm="column" layout-align="center" layout-wrap >

      <!-- SEARCH -->
      <md-input-container class="md-icon-float md-block lgSearch" flex>
        <md-icon><i class="material-icons" class="name"></i>search</md-icon>
        <input ng-model="searchRestaurant" type="text" placeholder="Search">
      </md-input-container>
    </section>

    <div class="gridList">
      <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="500px" md-row-height="500px" md-gutter="8px" md-gutter-gt-sm="4px">
        <md-grid-tile ng-repeat="restaurant in restaurants | filter:searchRestaurant" md-rowspan="{{restaurant.span.row}}" md-colspan="{{restaurant.span.col}}" md-colspan-sm="1" md-colspan-xs="1" class="white">
          <md-grid-tile-header class="lgName"><h2 >{{restaurant.restaurantName}}</h2></md-grid-tile-header>
          <div class="lgRevCont" layout="column" layout-fill>
            <div flex="45" class="lgImg">
              <span class="helper"></span><img id="revPhoto" ng-src="{{restaurant.image}}" alt="">
            </div>
            <div flex="55" class= lgLower layout="row">
              <div flex="50" class="lgRev" >
                <p>{{restaurant.restaurantReview}}</p>
                <hr>
                <div class="lgRating">
                  <p>Food:
                  <md-icon style="margin:0;padding-bottom:0;font-size:16px;"><i style="font-size:16px;" ng-repeat="item in score | limitTo:restaurant.foodRating" class="material-icons" class="lgI">local_pizza</i></md-icon><br />
                  Service:
                  <md-icon style="margin:0;padding-bottom:0;font-size:16px;"><i style="font-size:16px;" ng-repeat="item in score | limitTo:restaurant.serviceRating" class="material-icons" class="lgI">room_service</i></md-icon><br />
                  Ambience:
                  <md-icon style="margin:0;padding-bottom:0;font-size:16px;"><i style="font-size:16px;" ng-repeat="item in score | limitTo:restaurant.ambienceRating" class="material-icons" class="lgI">spa</i></md-icon><br />
                  Cost:
                  <md-icon style="margin:0;padding-bottom:0;font-size:16px;"><i style="font-size:16px;" ng-repeat="item in score | limitTo:restaurant.priceRating" class="material-icons" class="lgI">attach_money</i></md-icon><br />
                   Yelp Rating: <img ng-if="restaurant.yelp" ng-src="{{restaurant.yelp.rating_img_url_small}}"></img></p>
                   <button
                   class="fb-share"
                   aria-label="shareOnFB"
                   style="float:left"
                   ng-click="shareOnFB(restaurant)">
                   Share it to Facebook
                 </button>
                 </div>
               </div>
               <div flex="50" layout="column">
                <div flex="32" class="lgAdd">
                  <p>{{restaurant.restaurantAddress}}</p>
                </div>
                <div flex="78" class="lgMap">
                  <ui-gmap-google-map center='restaurant.yelp.location.coordinate' ng-if="showMap" zoom='11'>
                    <ui-gmap-marker idKey='1' coords='restaurant.yelp.location.coordinate' options='options'>
                    </ui-gmap-marker>
                  </ui-gmap-google-map>
                </div>
              </div>
            </div>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div ui-view></div>
  </div>
</div>
